
.whole{
    display:block;
    background-color: rgb(141, 202, 141);
    padding-bottom:2.5%; 
    min-width:320px;
    max-width: 21cm;
    max-height:29.7cm;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.body{
    background-color:#c94c4c;
    border-width: 5px;
    border-style:double;
    margin: 40px auto;
}
.title{
    text-align: center;
    padding-top:3.125%;
    font-size:75px;
}

